.profile-panel {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 600px;
  height: 100vh;
  background-color: #666666;
  color: white;
  position: fixed;
}

.profile-tile {
  margin-top: 50px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.avatar-container > img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.avatar-container {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.friends-tile {
  overflow: auto;
  border: none;
}

.friends-tile img {
  width: 60px;
  height: 60px;
}
